<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Dropdown Menu -1 -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Angular Basic
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/Angular_1/">Data Binding</a></li>
            <li><a class="dropdown-item" routerLink="/Angular_1/Built-Dire">Directive</a></li>
            <li><a class="dropdown-item" routerLink="/Angular_1/Cust-Dire">Custome Directive</a></li>
          </ul>
        </li>
        <!-- Dropdown Menu - 2 -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Angular Forms
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/Forms/">Template_Form</a></li>
            <li><a class="dropdown-item" routerLink="/Forms/temp_valid">Template_validation_Form</a></li>
            <li><a class="dropdown-item" routerLink="/Forms/react">Reactive_Form</a></li>
          </ul>
        </li>
        <!-- Dropdown Menu - 3 -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Pipes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/Pipes">Pipe</a></li>
            <li><a class="dropdown-item" routerLink="/Pipes/Cust">Cust_Pipe</a></li>
          </ul>
        </li>
        <!-- Dropdown Menu - 4 -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Service</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/temp">Template</a></li>
            <li><a class="dropdown-item" routerLink="/temp/reactForm">Reactive</a></li>
          </ul>
        </li>
        <!-- Dropdown Menu - 5 -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">RXJS</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/rxjs">rxjs</a></li>
          </ul>
        </li>
        <!-- Dropdown Menu - 6 -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">RouterComm</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/routeCommm">Emp_Data</a></li>
            <li><a class="dropdown-item" routerLink="/routeCommm/emplist/id/email">Emp_List</a></li>
          </ul>
        </li>
        <!-- Dropdown Menu - 7 -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Guards</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/guard">Login</a></li>
            <li><a class="dropdown-item" routerLink="/guard/Admin">ADMIN</a></li>
          </ul>
        </li>
        <!-- Dropdown Menu - 8 -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Promises</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/Promises">Promises</a></li>
            <li><a class="dropdown-item" routerLink="/Promises/all">Promises_All</a></li>
            <li><a class="dropdown-item" routerLink="/Promises/awaitData">Asynch Await</a></li>
          </ul>
        </li>

         <!-- Dropdown Menu - 9 -->
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">InterComp</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/InterComp">Parent</a></li>
            <li><a class="dropdown-item" routerLink="/InterComp/Subjective">Subjective</a></li>
            <li><a class="dropdown-item" routerLink="/InterComp/B_Sub">Behavior_Subject</a></li>
          </ul>
        </li>
         
        <!-- Dropdown Menu -10 -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">InterCommExampc</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/InterCommExampcs">Parent</a></li>
          </ul>
        </li>
      

      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>